name: Build and test
on:
  - push
  - pull_request
jobs:
  test:
    name: Testing ${{ matrix.os }} GHC-${{ matrix.ghc }}
    strategy:
      matrix:
        os: [ubuntu-24.04]
        # See doc/dev.md for GHC version support policy
        ghc: [9.12.2, 9.10.1, 9.8.1, 9.6.1, 9.4.5, 9.2.2, 9.0.2, 8.10.7, 8.8.4, 8.6.5]
      fail-fast: false
    uses: GaloisInc/.github/.github/workflows/haskell-ci.yml@v2
    with:
      cache-key-prefix: v1
      # See doc/dev.md for development practices around warnings.
      #
      # See Note [Parallelism] in `haskell-ci.yml` for why `--ghc-options='-j'`
      # and `--semaphore`.
      configure-flags: --enable-coverage --enable-tests --ghc-options='-Werror=compat -Werror=default -j' --semaphore
      # We want to gather coverage for *some* job, but we don't particularly
      # care which one it is.
      coverage: ${{ strategy.job-index == 0 }}
      coverage-artifact: ${{ strategy.job-index == 0 }}
      ghc: ${{ matrix.ghc }}
      os: ${{ matrix.os }}
